<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.digitlog">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/digit_log_logo"
        android:label="Digit Log"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/digit_log_logo"
        android:supportsRtl="false"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Correction_Base"></activity>
        <activity android:name=".Correction_Base2"></activity>
        <activity android:name=".Fuel_Management_1" />
        <activity android:name=".Fuel_Management_2" />
        <activity android:name=".Mid_Night_Report" />
        <activity android:name=".Mid_Night_Report_ST" />
        <activity android:name=".MidNight" />
        <activity android:name=".MidNight_ST" />
        <activity android:name=".Reports_Activity" />
        <activity android:name=".Fault_Trip_Image" />
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity android:name=".Login" />
        <activity android:name=".Excel_Export" />
        <activity android:name=".Status_List" />
        <activity android:name=".TripsList" />
        <activity android:name=".Trips_Reports" />
        <activity android:name=".Operator_Handover" />
        <activity android:name=".Status_Reports" />
        <activity android:name=".Faults_Reports" />
        <activity android:name=".Trip_Activity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".DashboardST"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sheet8"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sheet7"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Blocks"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Handover_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Faults_Trips_Entry"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Faults_List"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EngineStatus"
            android:screenOrientation="portrait" />
        <activity android:name=".DataEntry" />
        <activity
            android:name=".New_Engine_Dash"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Faults_Dash"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chart_List"
            android:screenOrientation="portrait" />
        <activity android:name=".Dashboard" />
        <activity
            android:name=".Sheet_1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sheet_2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sheet_3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sheet_4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sheet_5"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sheet_6"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dashboard_chart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dashboard_problem"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dashboard_Engines"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chart"
            android:screenOrientation="landscape" />
        <activity
            android:name=".FirstScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>