<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.digitlog">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/digit_log_logo"
        android:label="Digit Log"
        android:roundIcon="@mipmap/digit_log_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".DashboardST"></activity>
        <activity android:name=".Sheet8" />
        <activity android:name=".Sheet7" />
        <activity android:name=".Blocks" />
        <activity android:name=".Handover_Activity" />
        <activity android:name=".Faults_Trips_Entry" />
        <activity android:name=".Faults_List" />
        <activity android:name=".EngineStatus" />
        <activity android:name=".DataEntry" />
        <activity android:name=".New_Engine_Dash" />
        <activity android:name=".Faults_Dash" />
        <activity android:name=".Chart_List" />
        <activity android:name=".Dashboard" />
        <activity android:name=".Sheet_1" />
        <activity android:name=".Sheet_2" />
        <activity android:name=".Sheet_3" />
        <activity android:name=".Sheet_4" />
        <activity android:name=".Sheet_5" />
        <activity android:name=".Sheet_6" />
        <activity android:name=".Dashboard_chart" />
        <activity android:name=".Dashboard_problem" />
        <activity android:name=".Dashboard_Engines" />
        <activity android:name=".chart" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".register" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>